body  {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }


.SpacedContainer {
    border: 2px dashed #444;
    height: 125px;
    
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    
    /* just for demo */
}

.SpacedContainer > div {
    width: 150px;
    height: 125px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.stretchSpaced {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}